.margin-bottom{
    margin-bottom: 20px;
}
fieldset {
    background-color: white;
    padding:10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
  
legend {
    /* background-color: gray; */
    color: black;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}
.well{
    border:1px solid #cccccc;
}